[submodule "third_party/DGNet"]
	path = third_party/DGNet
	url = https://github.com/NVlabs/DG-Net
[submodule "third_party/OpenReID"]
	path = third_party/OpenReID
	url = https://github.com/hou-yz/open-reid-tracking
[submodule "third_party/CenterNet"]
	path = third_party/CenterNet
	url = https://github.com/xingyizhou/CenterNet
[submodule "third_party/PCB"]
	path = third_party/PCB
	url = https://github.com/Xiaoccer/ReID-PCB_RPP
[submodule "third_party/DCNv2"]
	path = third_party/DCNv2
	url = https://github.com/CharlesShang/DCNv2
